{% extends 'ElendevAppManagerBundle::layout.html.twig'%}

{% block head %}
<script>
    $(function(){
        $("#menu").menu();
        $('.versionList').accordion({
            heightStyle: "content"
        });
        $(".environmentList").menu();
        $(".consoleCommands").menu();
    });
    
    
    function removeConfirm(url){
        if(confirm("Would you really want to remove this version ? This can't be undone !")){
            window.location.href = url;
        }
    }
    
    function defaultConfirm(url){
        if(confirm("Would you really want to set this version as default ? It will put this version as current version !")){
            window.location.href = url;
        }
    }
    
</script>

<style>
    #menu{
        margin: 5px;
    }
    
    .ui-menu { width: 300px; }
    
    .contentBlock{
        clear: none;
        float: left;
        padding: 10px;
    }
    
    #appList{
        display: table-row;
    }
    
    .app{
        display: table-cell;
        padding: 0.2em 1em;
        font-size: 1.25em;
        font-weight: bold;
        border-style: solid;
        border-width: 1px;
        border-bottom-width: 0;
        border-color: grey;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    
    .current{
        box-shadow: 0px -2px 5px 1px grey;
    }
    
    .appDescription{
        border-style: solid;
        border-width: 1px;
        border-color: grey;
        padding: 1em;
        border-radius: 5px;
        border-top-left-radius: 0;
    }
    
    .published_image{
        height: 1em;
    }
    
</style>
{% endblock head %}

{% block body %}
<div id="menu">
    <a href="{{path('_logout')}}">Logout</a>
</div>

<div id="appList">
{% for appName in apps%}
{% if appName == currentApp.getName()%}
<div class="app current">{{appName}}</div>
{% else %}
<div class="app"><a href="{{path('app_index', {app: appName})}}">{{appName}}</a></div>
{% endif %}
{% endfor %}
</div>
<div class="appDescription">
    <div class="versionList">
        {% for version in currentApp.getVersions() %}
            {%set published = version == currentApp.getPublishedVersion()%}
            <h3>Version {{version.getName()}}
            	{% if published %} - <img class="published_image" src="{{ asset('bundles/elendevappmanager/images/published.png') }}"> PUBLISHED{% endif %}
            	{% if version.getType() == "PHAR" %} - <img class="published_image" src="{{ asset('bundles/elendevappmanager/images/pharFile.png') }}"> PHAR Archive {% endif %}
            </h3>
            <div>
                
                <div>Available actions :
                    {% if version.getCommandFactory().getCommandModels() %}
                        <a href="{{path('console_deploy', {app: currentApp.getName(), appVersion: version.getName()})}}">Deploy</a>
                    {% endif %}
                    {%if not published%}
                    <a href="javascript:defaultConfirm('{{path('app_set_public_version', {app: currentApp.getName(), appVersion: version.getName()})}}')">Publish</a> 
                     - <a href="javascript:removeConfirm('{{path('app_remove_version', {app: currentApp.getName(), appVersion: version.getName()})}}')">Delete</a>{%endif%}
                </div>
                
                <div class="contentBlock">
                    Environnements :
                    <div>
                        <ul class="environmentList">
                        {% for env in version.getEnvironments() %}
                        <li>
                            <a href="#">{{env.getName()}}</a>
                            <ul>
                                <li><a href="{{env.getUrl()}}" target="_BLANK">Open</a></li>
                            </ul>
                        </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                
                {% if version.getCommandFactory().getCommandModels() %}
                
                <div class="commandMenu contentBlock">
                    Available commands :
                    {%set parent = none%}
                    <ul class="consoleCommands">
                    {% for commandModel in version.getCommandFactory().getCommandModels() %}
                        {% if commandModel.getCommand()|split(':')[0] != parent %}

                            {% if parent == none %}
                                <li>
                            {% else %}
                                </ul>
                                </li>
                                <li>
                            {% endif %}

                            {%set parent = commandModel.getCommand()|split(':')[0]%}
                            <a href="#">{{commandModel.getCommand()|split(':')[0]}}</a>
                            <ul>
                        {% endif %}
                        <li><a href="">{{commandModel.getCommand()}}</a></li>
                    {% endfor %}
                       </ul></li>
                    </ul>
                </div>
                {% endif %}
            </div>
        {% endfor %}
        {% for archive in currentApp.getArchives() %}
            <h3>Archive {{archive.getName()}}</h3>
            <div>
                <a href="{{path('app_unzip', {'app': currentApp.getName(), 'zipFile': archive.getName()})}}">Unzip archive</a>
                 - 
                <a href="{{path('app_remove_archive', {'app': currentApp.getName(), 'zipFile': archive.getName()})}}">Delete archive</a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock body %}